{% load static %} {% if user.is_authenticated %}
<a href="{% url 'home' %}" class="d-flex align-middle align-items-center">
	<img
		src="{% static 'accompagnement.encommuns.org/home/img/home/logo-encommuns.png' %}"
		width="40px"
		alt="Accompagnement EnCommuns"
		class="fr-mr-3v"
	/>
</a>
{% else %}
<a href="{% url 'home' %}" class="d-flex align-middle fr-p-2w align-items-center">
	<img
		src="{% static 'accompagnement.encommuns.org/home/img/home/logo-encommuns.png' %}"
		width="60px"
		alt=""
		class="fr-mr-3v"
	/>
	<span class="fs-2 fw-bold">Accompagnement EnCommuns</span>
</a>
{% endif %}
