{% load static %}
<div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
    <h3 class="fr-footer__top-cat">Ressources</h3>
    <ul class="fr-footer__top-list">
        <li>
            <a href="{% url 'statistics' %}" class="fr-footer__top-link">Statistiques d'impact</a>
        </li>
        <li>
            <a href="{% static 'sosponts.recoconseil.fr/home/img/home/Cerema_SOS_Ponts.jpg' %}"
               target="_new"
               class="fr-footer__top-link">Plaquette de présentation</a>
        </li>
    </ul>
</div>
