<!-- prettier-ignore -->
{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load cookie_consent_tags %}
{% block title %}
    Accompagnement adhérents multi thématique Cerema HdF
{% endblock title %}
{% block og_title %}
    Accompagnement adhérents multi thématique Cerema HdF
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/home.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% sass_src 'cerema-hdf.recoconseil.fr/home/css/home/home-cerema-hdf.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% block content %}
    <div class="hero-div">
        <div class="hero-div__sub-container">
            <div class="d-flex">
                <div class="hero-div__text-part">
                    <h1 class="fr-h1">Le Cerema Hauts-de-France est au plus proche de ses adhérents pour faire avancer leurs projets.</h1>
                    <p>
                        Le portail Conseil Cerema Hauts-de-France est un outil qui permet le suivi de l'accompagnement du Cerema HdF
                        sur les questions des collectivités adhérentes, afin de les orienter vers les bonnes pistes
                        d'action : études, outils, méthodes, infos à ne pas manquer, etc
                    </p>
                    <div>
                        <button class="fr-btn fr-text--xl"
                                data-fr-opened="false"
                                aria-controls="onboarding-modal">Demander de l'aide</button>
                        <a href="{% url 'advisor-access-request' %}"
                           class="fr-btn fr-btn--secondary fr-text--xl fr-mt-3v">Demander un compte conseiller</a>
                    </div>
                </div>
                <div class="w-50 hero-div__img-div">
                    <img src="{% static 'cerema-hdf.recoconseil.fr/home/img/home/Image_recto_hd_DRIEA_Gobry.jpg' %}"
                         width="100%"
                         class="center-cropped img-shadow"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom fr-mt-8w"></div>
    {% include "home/onboarding/onboarding-modal.html" with form=onboarding_modal_form %}
{% endblock content %}
{% block footer %}
    <div class="row justify-content-center" id="footer">{% include "footer.html" %}</div>
{% endblock footer %}
