.custom-background-home-image {
    background-image: url('../../img/home/home-background-mon-espace-collectivite.jpeg');
}

.custom-button {
    background: #00BBC3 !important;
    color: white !important;
    text-decoration: none;

    &:hover {
        background: #479195 !important;
        color: white !important;
    }
}

