.custom-background-home-image {
  background-image: url('../../img/home/home-background-mon-espace-collectivite.jpeg');
}

.specific-backgroundcolor-1B1B35 {
  background-color: #1b1b35;
}

.specific-maxwidth-160px {
  max-width: 160px;
}
