.custom-background-home-image {
    background-image: url('../../img/home/home-background-sos-mobilites-hdf.jpg') !important;
}

@media (min-width: 48em) {
    .custom-background-home-image {
        padding-top: 150px;
        margin-bottom: 150px;
    }
}
