{% load static %}
{% if user.is_authenticated %}
<a href="{% url 'home' %}" class="d-flex align-middle align-items-center">
	<img
		src="{% static 'depannemarenov.beta.gouv.fr/home/img/home/logo-depannemarenov.png' %}"
		width="40px"
		alt=""
		class="fr-mr-3v"
	/>
</a>
{% else %}
    <a href="{% url 'home' %}"
       class="d-flex align-middle fr-p-2w align-items-center">
        <img class="logo-rf"
             src="{% static 'home/img/home/logo_rf.png' %}"
             width="100px"
             alt="Logo république française">
        <img src="{% static 'depannemarenov.beta.gouv.fr/home/img/home/logo-depannemarenov.png' %}"
             width="60px"
             alt=""
             class="fr-mr-3v">
        <span class="fs-2 fw-bold">Dépanne ma rénov'</span>
    </a>
{% endif %}
