.custom-background-home-image {
  background-image: url('../../img/home/background-protect-envi.jpg') !important;
}

.specific-backgroundcolor-1b1b35 {
  background-color: #1b1b35;
}

.specific-maxwidth-160px {
  max-width: 160px;
}
