{% extends "base.html" %}
{% load gravatar %}
{% load sass_tags %}
{% load cookie_consent_tags %}
{% load static %}
{% block title %}
    Politique de confidentialité
{% endblock title %}
{% block og_title %}
    Politique de confidentialité
{% endblock og_title %}
{% block css %}
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/privacy/privacy.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="col-8 fr-mt-3w fr-py-2w g-0 fr-mx-auto font-marianne">
        <h2>Politique de confidentialité de Portail Unifié d'Accompagnement ASU</h2>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>I - Qui est responsable de Portail Unifié d'Accompagnement ASU ?</strong>
        </p>
        <p>
            Portail Unifié d'Accompagnement ASU est un service numérique porté par Sorbonne Université
            et développé grâce au service Recommandations-collaboratives du Centre d’études et d’expertise sur les risques,
            l’environnement, la mobilité et l’aménagement (CEREMA).
            <br />
            Les co-responsables de traitement des données à caractère personnel sont le CEREMA représenté par son directeur général,
            Monsieur  Pascal Berteaud, et Sorbonne Université représentée par Nathalie Drach-Temam, sa présidente.
        </p>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>II - Finalités</strong>
        </p>
        <p>
            La plateforme Portail Unifié d'Accompagnement ASU est un service numérique porté par Sorbonne Université,
            qui manipule des données à caractère personnel pour les raisons suivantes :
        </p>
        <ul>
            <li>
                principalement, le suivi et l’accompagnement des demandeurs (chercheurs, enseignants-chercheurs,
                doctorants, post-doctorants, ingénieurs, étudiants et personnels de laboratoires de l’Alliance Sorbonne Université)
                dans leurs projets d’innovation ;
            </li>
            <li>l’orientation de ces demandeurs vers les bons dispositifs et interlocuteurs en fonction de leur situation ;</li>
            <li>
                la réalisation d’études quantitatives et d’analyses sur les demandes déposées et les recommandations émises,
                permettant d’évaluer les besoins des demandeurs, et d’améliorer les accompagnements dispensés.
            </li>
        </ul>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>III - Catégorie de données à caractère personnel traitées</strong>
        </p>
        <ul>
            <li>
                Données de contact relatives aux comptes utilisateurs : prénom, nom, e-mail, numéro de téléphone, fonction, organisation
            </li>
            <li>
                Données de connexion : adresse IP, date et heure de connexion,
                lieu de connexion des demandeurs ou des conseillers mentionnés dans les finalités du traitement.
            </li>
        </ul>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>IV - Base légale</strong>
        </p>
        <p>
            La plateforme Portail Unifié d'Accompagnement ASU manipule des données personnelles
            en se basant sur l’exécution d’une mission d’intérêt public ou relevant
            de l’exercice de l’autorité publique dont est investi le responsable de traitement au sens de l’article 6-e du RGPD.
        </p>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>V - Durée de conservation</strong>
        </p>
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        <strong>Catégories de données</strong>
                    </th>
                    <th scope="col">
                        <strong>Durée de conservation</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <strong>Données de contact</strong>
                    </th>
                    <td>2 ans à compter de la dernière utilisation du compte de l’utilisateur</td>
                </tr>
                <tr>
                    <th scope="row">
                        <strong>Données de connexion</strong>
                    </th>
                    <td>2 ans à compter de la dernière utilisation du compte de l’utilisateur</td>
                </tr>
            </tbody>
        </table>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>VI - Vos droits</strong>
        </p>
        <p>Vous disposez des droits suivants concernant vos données à caractère personnel :</p>
        <ul>
            <li>D’un droit d’information et d’un droit d’accès à vos données ;</li>
            <li>D’un droit de rectification, et le cas échéant de suppression des données ;</li>
            <li>D’un droit à la limitation des données traitées ;</li>
            <li>D’un droit d’opposition.</li>
        </ul>
        <p>
            Pour les exercer, contactez-nous à : <a class="text-decoration-underline"
    href="mailto:pui-asu@sorbonne-universite.fr">pui-asu@sorbonne-universite.fr</a>
        </p>
        <p>
            Puisque ce sont des droits personnels, nous ne traiterons votre demande que si nous sommes
            en mesure de vous identifier. Dans le cas où nous ne parvenons pas à vous identifier, nous
            pouvons être amenés à vous demander une preuve de votre identité.
            <br />
            <br />
            Pour vous aider dans votre démarche, vous trouverez un modèle de courrier élaboré par la
            CNIL <a class="text-decoration-underline"
    href="https://www.cnil.fr/fr/modele/courrier/exercer-son-droit-dacces">ici</a> :
            <br />
            <br />
            Nous nous engageons à vous répondre dans un délai raisonnable qui ne saurait dépasser 1
            mois à compter de la réception de votre demande.
        </p>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>VII - Destinataires</strong>
        </p>
        <p>
            Les accès aux données sont strictement encadrés et juridiquement justifiés.
            Sont destinataires de tout ou partie des données, les personnes habilitées suivantes :
            <br />
            <ul>
                <li>agents habilités et membres de l’équipe produit de Recommandations-collaboratives ;</li>
                <li>
                    agents habilités et membres de l’équipe qui gère Portail Unifié d'Accompagnement ASU au sein de Sorbonne Université ;
                </li>
                <li>
                    conseillers inscrits sur la plateforme avec un accès local ou national, ou autres membres invités à participer sur le dossier.
                </li>
            </ul>
        </p>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>VIII -  Sous-traitants</strong>
        </p>
        <p>
            Certaines des données sont envoyées à d’autres acteurs, appelés « sous-traitants de données »,
            pour qu’ils nous aident à les manipuler. Nous nous assurons qu’ils respectent strictement le RGPD
            et qu’ils apportent des garanties suffisantes en matière de sécurité.
        </p>
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        <strong>Partenaire</strong>
                    </th>
                    <th scope="col">
                        <strong>Traitement réalisé</strong>
                    </th>
                    <th scope="col">
                        <strong>Pays destinataire</strong>
                    </th>
                    <th scope="col">
                        <strong>Garanties</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">AlwaysData</td>
                    <td>Hébergement des données</td>
                    <td>France</td>
                    <td>
                        <a class="text-decoration-underline"
                           href="https://www.alwaysdata.com/en/contract/16/">https://www.alwaysdata.com/en/contract/16/</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Matomo</td>
                    <td>Mesure de l’audience</td>
                    <td>France</td>
                    <td>
                        <a class="text-decoration-underline"
                           href="https://fr.matomo.org/gdpr-analytics/">https://fr.matomo.org/gdpr-analytics/</a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">Brevo</td>
                    <td>Emails automatiques et newsletters</td>
                    <td>Variable</td>
                    <td>
                        <a class="text-decoration-underline"
                           href="https://www.brevo.com/fr/rgpd/">https://www.brevo.com/fr/rgpd/</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="fr-mt-3w fr-mb-2v">
            <strong>IX - Cookies</strong>
        </p>
        <p>
            Un cookie est un fichier déposé sur votre terminal lors de la visite d’un site.
            Il a pour but de collecter des informations relatives à votre navigation
            et de vous adresser des services adaptés à votre terminal (ordinateur, mobile ou tablette).
        </p>
        <p>
            En application de l’article 5(3) de la directive 2002/58/CE modifiée
            concernant le traitement des données à caractère personnel
            et la protection de la vie privée dans le secteur des communications électroniques,
            transposée à l’article 82 de la loi n°78-17 du 6 janvier 1978 relative à l’informatique,
            aux fichiers et aux libertés, les traceurs ou cookies suivent deux régimes distincts :
        </p>
        <ol>
            <li>
                Les cookies strictement nécessaires au service ou ayant
                pour finalité exclusive de faciliter la communication
                par voie électronique sont dispensés de consentement préalable
                au titre de l’article 82 de la loi n°78-17 du 6 janvier 1978.
            </li>
            <li>
                Les cookies n’étant pas strictement nécessaires au service
                ou n’ayant pas pour finalité exclusive de faciliter la communication
                par voie électronique doivent être consenti par l’utilisateur.
            </li>
        </ol>
        <p>
            Des cookies relatifs aux statistiques publiques et anonymes sont également déposés.
        </br>
        Cookies recensés sur la plateforme Portail Unifié d'Accompagnement ASU :
    </p>
    <table>
        <thead>
            <tr>
                <th scope="col">
                    <strong>Nom du cookie</strong>
                </th>
                <th scope="col">
                    <strong>Finalités</strong>
                </th>
                <th scope="col">
                    <strong>Durées de conservation du cookie</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">SessionId</td>
                <td>Identifiant de session</td>
                <td>Session</td>
            </tr>
            <tr>
                <td scope="row">Csrftoken</td>
                <td>Sécurité de l’application</td>
                <td>Session</td>
            </tr>
            <tr>
                <td scope="row">Matomo</td>
                <td>Mesure de l’audience</td>
                <td>13 mois</td>
            </tr>
            <tr>
                <td scope="row">Dailymotion</td>
                <td>Affichage vidéo</td>
                <td>13 mois</td>
            </tr>
            <tr>
                <td scope="row">Crisp</td>
                <td>Chat entre les utilisateurs et les admins</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
    <p>
        À tout moment, vous pouvez refuser l’utilisation des cookies
        et désactiver le dépôt sur votre ordinateur en utilisant
        la fonction dédiée de votre navigateur (fonction disponible
        notamment sur Microsoft Internet Explorer 11, Google Chrome, Mozilla Firefox, Apple Safari et Opera).
        <br />
        <br />
        Pour aller plus loin, vous pouvez consulter les ﬁches proposées
        par la Commission Nationale de l'Informatique et des Libertés (CNIL) :
    </p>
    <ul>
        <li>
            <a class="text-decoration-underline"
               href="https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi">Cookies et traceurs : que dit la loi ?</a>
        </li>
        <li>
            <a class="text-decoration-underline"
               href="https://www.cnil.fr/fr/cookies-les-outils-pour-les-maitriser">Cookies : les outils pour les maîtriser</a>
        </li>
    </ul>
</div>
{% endblock content %}
