<!-- prettier-ignore -->
{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load cookie_consent_tags %}
{% block title %}
    Essaimage Meexlab
{% endblock title %}
{% block og_title %}
    Essaimage Meexlab
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/home.js' %}
    {% vite_asset 'js/styles/home.css.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'essaimage-meexlab.recoconseil.fr/home/css/home/home-meexlab.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% block content %}
    <div>
        <div class="hero-div">
            <div class="hero-div__sub-container">
                <div class="d-flex">
                    <div class="hero-div__text-part">
                        <h1 class="fr-h1">La Maison des Enfants Extraordinaires LAB vous accompagne et vous conseille dans votre projet.</h1>
                        <p>
                            <i>Collectivités, associations, porteurs de projet (parent, professionnel de santé), MeexLab vous accompagne pour :
                                <br />
                                - essaimer une Maison des enfants Extraordinaires sur votre Territoire pour favoriser à l'accès aux soins et l'implication des familles ;
                                <br />
                                - développer la capacité de votre territoire à détecter et accompagner précocement les enfants, en lien avec l'ensemble des acteurs concernés.
                            </i>
                        </p>
                        <div>
                            <a href="{% url 'onboarding-project' %}" class="fr-btn fr-text--xl">Discuter de mon projet</a>
                        </div>
                    </div>
                    <div class="w-50 hero-div__img-div">
                        <img src="{% static 'essaimage-meexlab.recoconseil.fr/home/img/home/MEEX_Balançoire_iB.jpeg' %}"
                             width="100%"
                             class="center-cropped img-shadow"
                             alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-mx-0 hero-div__dark-section">
            <div id="webinaire-video" class="fr-mt-2v">
                <p class="fr-text--lg fr-mb-0 fw-light">
                    Notre ambition est d’augmenter l’impact social de la MEEX via une duplication souple,
                    permettant l’adaptation du modèle aux contextes et enjeux locaux des territoires.
                    <br />
                    <br />
                    Pour cela, nous expérimentons des parcours d’accompagnement incluant des ressources partagées,
                    un suivi individuel, ainsi que des séminaires collectifs afin de répondre
                    aux besoins spécifiques de votre projet et territoire, tout en bénéficiant
                    des retours d’expériences et de l’entraide entre pairs.
                    <br />
                    <br />
                    Notre objectif est double:
                    <br />
                    - vous transmettre un référentiel éprouvé depuis 10 ans pour la mise en œuvre d’une MEEX sur leur territoire,
                    <br />
                    - vous accompagner dans une démarche de labellisation de détection précoce des TND sur votre territoire.
                </p>
            </div>
        </div>
        <div class="fr-py-6w fr-background-alt--grey">
            <div class="fr-container fr-pt-2w fr-pb-6w">
                <div class="fr-m-auto">
                    <h3 class="text-center fr-pb-6w">Comment fonctionne le portail Essaimage Meexlab ?</h3>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/search.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone de recherche"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">1</span>
                            <h6>Décrivez-nous votre projet, besoins et attentes</h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/form.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone d'un fichier"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">2</span>
                            <h6>Nous prenons contact et vous accompagnons sur le diagnostic de territoire</h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/community.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone de communauté"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">3</span>
                            <h6>Nous vous transmettons des ressources et recommandations au fur et à mesure de l’avancée de votre projet</h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/progress.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone de progrès"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">4</span>
                            <h6>Vous mettez à jour l’avancée de votre projet et des besoins</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <div class="row justify-content-center" id="footer">{% include "footer/footer.html" %}</div>
{% endblock footer %}
