<!-- prettier-ignore -->
{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% block title %}
    {{ request.site.configuration.main_topic }}
{% endblock title %}
{% block og_title %}
    {{ request.site.configuration.main_topic }}
{% endblock og_title %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/home.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'monespacecollectivite.incubateur.anct.gouv.fr/home/css/home/home-mon-espace-collectivite.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="hero-div">
        <div class="hero-div__sub-container">
            <div class="d-flex">
                <div class="hero-div__text-part center-verticaly">
                    <h1 class="fr-h1">Accélérez les dossiers de votre territoire</h1>
                    <p>
                        Mon Espace Collectivité est un service public et gratuit qui permet aux collectivités de concrétiser leurs projets du quotidien et ceux du Contrat de relance et de transition écologique (CRTE). Elles soumettent leurs besoins ou blocages afin que les acteurs publics du territoire puissent les suivre et les conseiller.
                    </p>
                    <div>
                        <a href="{% url 'onboarding-project' %}"
                           class="fr-btn fr-btn--primary fr-text--xl">Démarrer un dossier</a>
                    </div>
                </div>
                <div class="w-50 hero-div__img-div">
                    <img src="{% static 'monespacecollectivite.incubateur.anct.gouv.fr/home/img/home/home-background-mon-espace-collectivite.jpeg' %}"
                         width="100%"
                         class="center-cropped img-shadow"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container-fluid fr-mt-4w">
        <div class="fr-py-8w specific-backgroundcolor-1B1B35">
            <div class="fr-container fr-pt-2w fr-pb-6w">
                <div class="fr-m-auto">
                    <h2 class="fr-text-inverted--grey text-center fr-pb-6w">Retrouvez sur un seul service, pour chaque dossier :</h2>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px">
                                <img src="{% static 'home/img/home/human_cooperation.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="Icone de recherche">
                            </div>
                            <span class="fr-h5 fr-text-label--blue-cumulus fr-mb-2w d-block">1. Tous les interlocuteurs</span>
                            <h6>Echanger avec les acteurs pertinents</h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px">
                                <img src="{% static 'home/img/home/search.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="Icone d'un fichier">
                            </div>
                            <span class="fr-h5 fr-text-label--blue-cumulus fr-mb-2w d-block">2. Toutes les informations</span>
                            <h6>
                                Accéder à une fiche par dossier, son état des lieux, guide, recommandations, ressources, historique des échanges, diagnostic
                            </h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px">
                                <img src="{% static 'home/img/home/community.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="Icone de communauté">
                            </div>
                            <span class="fr-h5 fr-text-label--blue-cumulus fr-mb-2w d-block">3. Toutes les recommandations</span>
                            <h6>Ingénierie, financement et un expert de votre thématique</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-background-alt--grey fr-py-8w">
            <div class="fr-container fr-pt-2w fr-pb-6w">
                <div class="fr-m-auto">
                    <h2 class="text-center fr-pb-6w">Toutes les thématiques</h2>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-text--lg">
                    <div class="fr-col-6 fr-col-sm-6 fr-col-md-4">
                        <ul>
                            <li>Mieux se déplacer (Mobilités, Transport)</li>
                            <li>Mieux se loger (Urbanisme, Logement, Aménagement)</li>
                            <li>Mieux préserver et valoriser nos écosystèmes (Nature, Eau et Milieux aquatiques)</li>
                        </ul>
                    </div>
                    <div class="fr-col-6 fr-col-sm-6 fr-col-md-4">
                        <ul>
                            <li>Mieux produire (Développement économique)</li>
                            <li>Mieux se nourrir (Alimentation, Agriculture)</li>
                            <li>Mieux consommer (Achat durable, Réemploi)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-py-6w specific-backgroundcolor-1B1B35">
            <div class="fr-container fr-pt-2w fr-pb-2w">
                <div class="fr-m-auto">
                    <h3 class="fr-text-inverted--grey text-center fr-pb-6w">Vous souhaitez vous faire accompagner ?</h3>
                </div>
                <div class="text-center">
                    <a href="{% url 'onboarding-project' %}"
                       class="fr-btn fr-btn--tertiary fr-text--xl fr-text-inverted--grey">Démarrer un dossier</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <div class="row justify-content-center" id="footer">{% include "footer/footer.html" %}</div>
{% endblock footer %}
