<!-- prettier-ignore -->
{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% block title %}
    {{ request.site.configuration.main_topic }}
{% endblock title %}
{% block og_title %}
    {{ request.site.configuration.main_topic }}
{% endblock og_title %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/home.js' %}
    {% vite_asset 'js/styles/home.css.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'monespacecollectivite.incubateur.anct.gouv.fr/home/css/home/home-mon-espace-collectivite.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="hero-div">
        <div class="hero-div__sub-container fr-mb-6w">
            <div class="d-flex">
                <div class="hero-div__text-part center-verticaly fr-mt-0">
                    <h1 class="fr-h1">Accélérez les dossiers de votre territoire</h1>
                    <div class="fr-alert fr-alert--info">
                        <p>
                            Mon Espace Collectivité évolue pour vous faciliter l’accès aux aides et aux interlocuteurs dédiés.
                            <br>
                            <a href="https://monespacecollectivite.anct.gouv.fr/" target="_blank">
                                Découvrez la nouvelle version 
                                <span class="visually-hidden">Nouvelle fenêtre</span>
                            </a>
                            et saisissez vos nouveaux projets   
                            <br>
                            <br>
                            Vous pouvez continuer à suivre vos projets existants en cliquant sur « Se connecter » dans la barre de navigation.
                            <br>
                            <br>
                            Besoin d’aide ? Une question ? Ecrivez-nous sur : 
                            <a href="mailto:aide@monespacecollectivite.anct.gouv.fr">aide@monespacecollectivite.anct.gouv.fr</a>    
                        </p>
                    </div>
                </div>
                <div class="w-50 hero-div__img-div">
                    <img src="{% static 'monespacecollectivite.incubateur.anct.gouv.fr/home/img/home/hero_home-background-mon-espace-collectivite.jpeg' %}"
                         width="100%"
                         class="center-cropped img-shadow"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <div class="justify-content-center" id="footer">{% include "footer/footer.html" %}</div>
{% endblock footer %}
