<!-- prettier-ignore -->
{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% block title %}
    Nous contacter
{% endblock title %}
{% block og_title %}
    Nous contacter
{% endblock og_title %}
{% block css %}
    <link href="{% sass_src 'sosponts.recoconseil.fr/home/css/home/home-sosponts.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block content %}
    <div class="col-9 fr-py-6w fr-mx-auto">
        <h2 class="fr-mb-6w">
            <svg class="bi fr-mr-2v" width="28" height="28">
                <use xlink:href="{% static 'svg/bootstrap-icons.svg' %}#envelope" />
            </svg>
            Contacter l'équipe SOS Ponts
        </h2>
        <div class="fr-6w fr-p-6w specific-backgroundcolor-1b1b35">
            <p class="text-white fr-m-0">
                Vous pouvez nous écrire un email à l’adresse
                <a href="mailto:sos-ponts@cerema.fr" class="text-decoration-underline"><strong>sos-ponts@cerema.fr</strong></a>
            </p>
        </div>
    </div>
{% endblock %}
