{% extends "base.html" %}
{% load leaflet_tags %}
{% load l10n %}
{% load sass_tags %}
{% load static %}
{% block js %}
    {% leaflet_js %}
    <script src="{% static "/js/d3.min.js" %}"></script>
    <script src="{% static "/js/nv.d3.min.js" %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <!-- Leaflet -->
    <script type="text/javascript">
    function map_init (map, options) {
        var icon = L.icon({iconUrl: '{% static "img/statistics/marker.png" %}', iconSize: [18, 18]});

        {% for point in collectivity_geo %}
        L.marker([{{point.0|unlocalize}}, {{point.1|unlocalize}}], {icon: icon}).addTo(map);
        {% endfor %}

        var zoom = 5;
        map.setView(new L.LatLng(47, 2.5), zoom);
        map.setMinZoom(zoom - 2);
        map.setMaxZoom(zoom + 4);

        map.addControl(new L.Control.Fullscreen());
    }

    </script>
    <!-- Charts -->
    <script type="text/javascript">
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
                    .x(function(d) { return d.label })    //Specify the data accessors.
                    .y(function(d) { return d.value })
                    .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
                    .tooltips(false)        //Don't show tooltips
                    .showValues(true)       //...instead, show the bar value right on top of each bar.
                    .transitionDuration(350)
        ;

        chart.yAxis.tickFormat(d3.format('d'));
        chart.valueFormat(d3.format('d'));
        
        d3.select('#chart-new svg')
        .datum(newFrichesData())
        .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    });

    //Each bar represents a single discrete quantity.
    function newFrichesData() {
        return  [ 
            {
                key: "Nouvelles Friches",
                values: [
                    {% for month in new_col_per_month %}
                    { 
                      "label" : "{{ month.0 }}",
                      "value" : {{ month.1|unlocalize }}
                    } ,
                    {% endfor %}
                ]
            }
        ]

    }
    </script>
{% endblock %}
{% block title %}| Statistiques d'impact{% endblock %}
{% block css %}
    {% leaflet_css %}
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
          rel='stylesheet' />
    <link href="{% sass_src 'sosponts.recoconseil.fr/home/css/statistics/statistics-sosponts.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="col-9 py-5 mx-auto">
        <h2>Quel est l'impact de {{ request.site.name }} ?</h2>
        <p>Mis à jour en continu</p>
        <div class="border border-1 p-4 rounded-4 text-center text-white mb-4"
             style="background-color: #04466c">
             <h2 class="mb-2">
                <strong>3 communes sur 5 passent à l’action</strong>
                <br>
                après avoir reçues des recommandations sur SOS Ponts
            </h2>
            <p>
              Nous considérons qu’une commune passe à l’action lorsqu’elle contacte les acteurs vers qui nous l’avons orientée ou qu’elle met en place les actions recommandées pour entretenir, rénover ou sécuriser ses ponts communaux. 
            </p>
        </div>
        <div class="row row-cols-xl-2 row-cols-1">
            <div class="col">
                <div class="rounded-4 border border-1 p-4 mb-4 me-1 text-center">
                    <h4 class="fw-bold mb-2">Accompagnement des communes</h4>
                    <p class="text-start">
                        <ul class="text-start">
                            <li>{{ collectivity_supported }} questions posées par les communes depuis décembre 2022</li>
                            <li>{{ total_recommendation }} recommandations envoyées depuis décembre 2022</li>
                            <li>{{ collectivity_avg_reco|floatformat:1 }} recommandations reçues en moyenne par chaque commune</li>
                        </ul>
                    </p>
                    {% leaflet_map "friches" callback="window.map_init" %}
                </div>
            </div>
            <div class="col h-100">
                <div class="rounded-4 border border-1 p-4 mb-4 ms-1 text-center h-100">
                    <h4 class="fw-bold mb-2">Nombre de questions posées par mois</h4>
                    <div id="chart-new">
                        <svg class="w-100" style="min-height: 300px;"></svg>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="rounded-4 border border-1 p-4 mb-4 me-1 text-start theme">
                    <h4 class="fw-bold mb-4">Thèmes des réponses les plus apportées</h4>
                    <div class="row">
                        <h5 class="mt-2">
                          <img class="align-bottom theme-icon__size" src="{% static 'sosponts.recoconseil.fr/home/img/statistics/focus.svg' %}" alt="focus" />
                          60% La marche à suivre
                        </h5>
                        <p>Questions des communes : <em>“Nous souhaitons réparer notre pont, quelle est la marche à suivre ?”</em>, <em>”Quelles sont les autorisations à demander avant de lancer les travaux ?”</em></p>

                        <h5 class="mt-2">
                          <img class="align-bottom theme-icon__size" src="{% static 'sosponts.recoconseil.fr/home/img/statistics/contact.svg' %}" alt="contact" />
                          25% Qui contacter ?
                        </h5>
                        <p>Questions des communes : <em>“Faut-il faire appel à une entreprise spécialisée ? À qui puis-je m’adresser ?”</em></p>

                        <h5 class="mt-2">
                          <img class="align-bottom theme-icon__size" src="{% static 'sosponts.recoconseil.fr/home/img/statistics/handshake.svg' %}" alt="handshake" />
                          15% Les financements 
                        </h5>
                        <p>Questions des communes : <em>“Quelles sont les aides disponibles pour rénover mon pont ?”</em></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="rounded-4 border border-1 p-4 mb-4 ms-1 text-center">
                    <h5 class="fw-bolder text-start mb-3">Pourquoi nous avons lancé SOS Ponts ?</h5>
                    <p class="text-start">
                        Le Programme National Ponts a révélé que 1 pont communal sur 4 a besoin de réparations, c’est 25 000 ponts qui présentent des défauts significatifs ou majeurs de structure. SOS Ponts est principalement destiné aux gestionnaires de patrimoines routiers, dépourvus d’ingénierie, pour répondre à toutes les questions sur les ponts communaux.
                    </p>
                    <br>
                    <h5 class="fw-bolder text-start">Profil des communes qui font appel à SOS Ponts</h5>
                    <p class="text-start">
                        <ul class="text-start">
                          <li>60% de communes ont moins de 1000 habitant·e·s</li>
                          <li>30% de communes ont entre 1000 et 5000 habitant·e·s</li>
                          <li>10% de communes ont plus de 5000 habitant·e·s</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
