<title>{{ request.site.name }}{% block title %}, Conseil Ecoquartiers, faites efficacement avancer vos projets{% endblock %}</title>
<meta name="description" content="{% block description %}Service pour le suivi de l'accompagnement du Cerema dans vos projets EcoQuartiers{% endblock %}">
<meta name="robots" content="index, archive" />
<meta property="og:title" content="{{ site.name }}{% block og_title %}, Conseil Ecoquartiers, faites efficacement avancer vos projets{% endblock %}" />
<meta property="og:locale" content="fr" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="{% block og_description %}Service pour le suivi de l'accompagnement du Cerema dans vos projets EcoQuartiers{% endblock %}" />
