<!-- prettier-ignore -->
{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% load django_vite %}
{% load cookie_consent_tags %}
{% block title %}
    S'adapter au changement climatique
{% endblock title %}
{% block og_title %}
    S'adapter au changement climatique
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/home.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% sass_src 'mission-adaptation.fr/home/css/home/home-mission-adaptation.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% block content %}
    <div>
        <div class="hero-div">
            <div class="hero-div__sub-container">
                <div class="d-flex">
                    <div class="hero-div__text-part">
                        <h1 class="fr-h1">La Mission Adaptation vous guide dans votre démarche d’adaptation au changement climatique</h1>
                        <p>
                            <i> Collectivités, nous vous accompagnons dans vos démarches d'adaptation.
                            </i>
                        </p>
                        <div>
                            {% if user.is_authenticated %}
                                <a href="{% url 'onboarding-project' %}" class="fr-btn fr-text--xl">Solliciter la Mission Adaptation</a>
                            {% else %}
                                <button class="fr-btn fr-text--xl"
                                        data-fr-opened="false"
                                        aria-controls="onboarding-modal">Solliciter la Mission Adaptation</button>
                            {% endif %}
                            <a href="{% url 'advisor-access-request' %}"
                               class="fr-btn fr-btn--secondary fr-text--xl fr-mt-3w">Demander un accès conseiller</a>
                        </div>
                    </div>
                    <div class="w-50 hero-div__img-div">
                        <img src="{% static 'mission-adaptation.fr/home/img/home/img-home.jpg' %}"
                             width="100%"
                             class="center-cropped img-shadow"
                             alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-mx-0 hero-div__dark-section">
            <h2 class="">La Mission Adaptation</h2>
            <div id="webinaire-video" class="fr-mt-2v">
                <p class="fr-text--lg fr-mb-0 fw-light">
                    Vous vous posez des questions sur l’initiation ou le renforcement de votre démarche d’adaptation au changement climatique ?
                    Vous pouvez vous adresser à la Mission Adaptation, nouveau service commun en expertise et ingénierie à destination des collectivités territoriales,
                    qui pourra vous orienter, vous accompagner et vous apporter des solutions face à des problèmes complexes.
                </p>
            </div>
        </div>
        <div class="fr-py-6w fr-background-alt--grey">
            <div class="fr-container fr-pt-2w fr-pb-6w">
                <div class="fr-m-auto">
                    <h3 class="text-center fr-pb-6w">Comment fonctionne la Mission ?</h3>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/search.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone de recherche"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">1</span>
                            <h6>Vous posez vos questions à votre interlocuteur régional, grâce à un formulaire court.</h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/form.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone d'un fichier"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">2</span>
                            <h6>
                                L’équipe Mission Adaptation formule des recommandations sur les actions à conduire et/ou les acteurs à contacter.
                            </h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/community.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone de communauté"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">3</span>
                            <h6>Vous pouvez ensuite suivre votre dossier dans votre espace personnel et échanger avec l'équipe.</h6>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px d-flex">
                                <img src="{% static 'home/img/home/progress.png' %}"
                                     width="70%"
                                     height="100%"
                                     alt="Icone de progrès"
                                     class="fr-m-auto" />
                            </div>
                            <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-2w d-block">4</span>
                            <h6>Nous construisons ensemble une démarche pertinente, en vous orientant vers les dispositifs des opérateurs.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-py-4 fr-mb-2w specific-backgroundcolor-1b1b35w">
            <div class="fr-container fr-pt-2w">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-3 text-center">
                        <img src="{% static 'home/img/home/human_cooperation.png' %}"
                             width="50%"
                             class="specific-maxwidth-160px"
                             alt="Image de coopération humaine" />
                    </div>
                    <div class="fr-col-12 fr-col-sm-9 fr-text--lg">
                        <p class="fr-my-2w">
                            La Mission Adaptation est en phase d'expérimentation.
                            Ce service s'appuie sur une démarche exploratoire,
                            centrée sur les utilisateurs et utilisatrices.
                            Vos questions nous permettront de bâtir ensemble un outil pertinent,
                            adapté à vos préoccupations.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="https://www.adaptation-changement-climatique.gouv.fr/"
               target="_blank"
               class="d-flex">
                <img class="fr-mb-1w fr-m-auto"
                     src="{% static 'mission-adaptation.fr/home/img/home/banner_ma.png' %}"
                     width="80%"
                     height="100%"
                     alt="" />
            </a>
        </div>
        <div class="fr-background-alt--grey fr-py-8w">
            <div class="fr-container">
                <h3 class="fr-pb-4v">Retrouvez plus de ressources et d'informations</h3>
                <div class="fr-grid-row fr-grid-row--gutters justify-content-end">
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-background-default--grey fr-border-default-grey border fr-p-2w">
                            <a href="https://aides-territoires.beta.gouv.fr/"
                               target="_blank"
                               class="d-flex flex-column">
                                <img class="fr-mb-1w home-images"
                                     src="{% static 'mission-adaptation.fr/home/img/home/logo_at.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="Programme National des ponts" />
                                <h6 class="fr-mb-1v">En quelques clics, trouvez des aides pour financer et accompagner vos démarches locales</h6>
                                <p class="fr-text--sm fr-mb-1v">
                                    Chaque jour, des collectivités comme la vôtre trouvent des aides pour financer et accompagner leurs démarches
                                    sur de nombreuses thématiques. Vous aussi, découvrez les aides disponibles et paramétrez des alertes pour
                                    donner vie aux ambitions de votre territoire.
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-background-default--grey fr-border-default-grey border fr-p-2w">
                            <a href="https://www.ecologie.gouv.fr/politiques-publiques/mission-adaptation"
                               target="_blank"
                               class="d-flex flex-column">
                                <img class="fr-mb-1w home-images"
                                     src="{% static 'mission-adaptation.fr/home/img/home/logo_mte.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="Programme National des ponts" />
                                <h6 class="fr-mb-1v">Consultez la page d'information du Ministère</h6>
                                <p class="fr-text--sm fr-mb-1v">
                                    La mise en place d’une Mission Adaptation correspond à la 25e mesure
                                    du 3e Plan national d’adaptation au changement climatique (PNACC-3) de 2024,
                                    intitulée « Lancer la Mission Adaptation, offre unifiée d'ingénierie de l’État
                                    pour l'adaptation à destination des collectivités locales ».
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-container fr-mt-8v">
            <p class="fr-text--sm fr-mb-1v">Nos partenaires :</p>
            <div class="fr-mt-2v fr-mb-4w fr-grid-row fr-grid-row--middle justify-content-between">
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'home/img/home/logo_rf.png' %}"
                         width="100px"
                         alt="Logo république française">
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/Logo_Météo-France_2023.png' %}"
                         width="100px"
                         alt="Logo de météo france">
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/LogoAdeme2020_FR_RVB.jpg' %}"
                         width="100px"
                         alt="Logo de l'ademe">
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/logo-cerema.jpeg' %}"
                         width="100%"
                         alt="Logo du Cerema" />
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/logo-ofb-actualite.jpg' %}"
                         width="100%"
                         alt="Logo de l'ofb" />
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/agence-de-leau_logo.png' %}"
                         width="100%"
                         alt="Logo de l'agence de l'eau" />
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/banque_territoires_logo_endos_vertical_pos_rvb.jpg' %}"
                         width="100%"
                         alt="Logo de la banque des territoires" />
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/anct.png' %}"
                         width="150%"
                         alt="Logo de anct" />
                </div>
                <div class="fr-col-2 fr-col-sm-3 fr-col-md-1 fr-py-4v">
                    <img src="{% static 'mission-adaptation.fr/home/img/home/Anap_logo-300x300.png' %}"
                         width="150%"
                         alt="Logo de l'anap" />
                </div>
            </div>
        </div>
        <div class="border-bottom"></div>
    </div>
    {% include "home/onboarding/onboarding-modal.html" with form=onboarding_modal_form %}
{% endblock content %}
{% block footer %}
    <div class="row justify-content-center" id="footer">{% include "footer/footer.html" %}</div>
{% endblock footer %}
