.specific-borderright-1pxsoliddee2e6 {
  border-right: 1px solid #dee2e6;
}

.specific-height-70px {
  height: 70px;
}

.specific-height-100px {
  height: 100px;
}

.specific-height-200px {
  height: 200px;
}

.specific-wordbreak-breakall {
  word-break: break-all;
}
