.specific-borderright-1pxsoliddee2e6 {
  border-right: 1px solid #dee2e6;
}

.specific-height-70px {
  height: 70px;
}

.specific-height-100px {
  height: 100px;
}

.specific-height-200px {
  height: 200px;
}

.specific-wordbreak-breakall {
  word-break: break-all;
}

.min-width-400px {
  min-width: 400px;
}

.background-gradient-to-right {
  border-image: linear-gradient(to right, #FC7051 0%, #4B66B4 100%) 1;
  border-width: 1px;
  border-style: solid;
}
