{% extends "base.html" %}
{% load leaflet_tags %}
{% load l10n %}
{% load sass_tags %}
{% load static %}
{% block title %}Statistiques d'impact{% endblock %}
{% block js %}
    {% leaflet_js %}
    <script src="{% static "/js/d3.min.js" %}"></script>
    <script src="{% static "/js/nv.d3.min.js" %}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <!-- Leaflet -->
    <script type="text/javascript">
    function map_init (map, options) {
        var icon = L.icon({iconUrl: '{% static "img/statistics/marker.png" %}', iconSize: [18, 18]});

        {% for point in collectivity_geo %}
        L.marker([{{point.0|unlocalize}}, {{point.1|unlocalize}}], {icon: icon}).addTo(map);
        {% endfor %}

        var zoom = 5;
        map.setView(new L.LatLng(47, 2.5), zoom);
        map.setMinZoom(zoom - 2);
        map.setMaxZoom(zoom + 4);

        map.addControl(new L.Control.Fullscreen());
    }

    </script>
    <!-- Charts -->
    <script type="text/javascript">
    nv.addGraph(function() {
        var chart = nv.models.discreteBarChart()
                    .x(function(d) { return d.label })    //Specify the data accessors.
                    .y(function(d) { return d.value })
                    .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
                    .tooltips(false)        //Don't show tooltips
                    .showValues(true)       //...instead, show the bar value right on top of each bar.
                    .transitionDuration(350)
        ;

        chart.yAxis.tickFormat(d3.format('d'));
        chart.valueFormat(d3.format('d'));
        
        d3.select('#chart-new svg')
        .datum(newFrichesData())
        .call(chart);

        nv.utils.windowResize(chart.update);

        return chart;
    });

    //Each bar represents a single discrete quantity.
    function newFrichesData() {
        return  [ 
            {
                key: "Nouvelles Friches",
                values: [
                    {% for month in new_col_per_month %}
                    { 
                      "label" : "{{ month.0 }}",
                      "value" : {{ month.1|unlocalize }}
                    } ,
                    {% endfor %}
                ]
            }
        ]

    }
    </script>
{% endblock %}
{% block css %}
    {% leaflet_css %}
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
          rel='stylesheet' />
    <link href="{% sass_src 'ecoquartiers.recoconseil.fr/home/css/statistics/statistics-ecoquartiers.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock %}
{% block content %}
    <div class="col-9 fr-py-6w fr-mx-auto">
        <h2>Les chiffres du portail {{ request.site.name }} ?</h2>
        <p>Mis à jour en continu</p>
        <div class="border border-1 fr-p-3w rounded-4 text-center text-white fr-mb-3w specific-backgroundcolor-04466c">
            <h2 class="text-white fr-mb-2v">
                Depuis 2022, le Cerema accompagne les collectivités qui ont des projets d'Ecoquartiers dans leur labellisation.
            </h2>
        </div>
        <div class="row row-cols-xl-2 row-cols-1">
            <div class="col align-content-stretch d-flex">
                <div class="rounded-4 border border-1 fr-p-3w fr-mb-3w text-center w-100">
                    <h3 class="fw-bold fr-mb-2v">Sites accompagnés et recommandations</h3>
                    <p class="text-start">
                        <ul class="text-start">
                            <li>Nombre de sites accompagnés : {{ collectivity_supported }}</li>
                            <li>Nombre de conseillers du Cerema sur le site : 16</li>
                            <li>Nombre de ressources créées et partagées : {{ resource_count }}</li>
                        </ul>
                    </p>
                    {% leaflet_map "friches" callback="window.map_init" %}
                </div>
            </div>
            <div class="col align-content-stretch d-flex">
                <div class="rounded-4 border border-1 fr-p-3w fr-mb-3w text-center w-100">
                    <h3 class="fw-bold fr-mb-2v">Exemples de blocages levés</h3>
                    <div class="row">
                        <div class="col-6">
                            <img src="{% static "/img/statistics/handshake.jpg" %}" alt="" />
                            <p>Quelles études sont à réaliser sur le site ?</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static "/img/statistics/question.jpg" %}" alt="" />
                            <p>Quels financements puis-je mobiliser ?</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static "/img/statistics/support.jpg" %}" alt="" />
                            <p>Quels sont les acteurs locaux à impliquer ?</p>
                        </div>
                        <div class="col-6">
                            <img src="{% static "/img/statistics/puzzle.jpg" %}" alt="" />
                            <p>Y a-t-il des exemples de projets similaires dont je pourrais m’inspirer ?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col align-content-stretch d-flex">
            <div class="rounded-4 border border-1 fr-p-3w fr-mb-3w text-center w-100">
                <h3 class="fw-bold fr-mb-2v">En savoir plus sur la démarche EcoQuartiers :</h3>
                <a href="https://www.cerema.fr/fr/actualites/cerema-accompagne-ecoprojets-nouvel-appel-candidatures-2024">https://www.cerema.fr/fr/actualites/cerema-accompagne-ecoprojets-nouvel-appel-candidatures-2024</a>
            </div>
        </div>
    </div>
{% endblock %}
