{% load static %}
<footer class="col-11 fr-py-6w">
    <hr />
    <div class="row fr-py-6w">
        <div class="col-6">
            <img src="{% static 'home/img/home/logo_rf.png' %}"
                 width="150px"
                 alt="Logo république française" />
        </div>
        <div class="col-6 col-md">
            <h5>Mon Espace Collectivité</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary"
                       href="{% static 'monespacecollectivite.incubateur.anct.gouv.fr/home/doc/MEC_Mentions_légales_v0.1.pdf' %}"
                       target="_blank">Mentions légales</a>
                </li>
                <li>
                    <a class="link-secondary"
                       href="{% static 'monespacecollectivite.incubateur.anct.gouv.fr/home/doc/MEC_Politique_de_confidentialité_v0.1.pdf' %}"
                       target="_blank">Politique de confidentialité</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Logiciel Libre</h5>
            <ul class="link-secondary list-unstyled text-small">
                <li>
                    <a href="https://github.com/betagouv/recommandations-collaboratives"
                       target="_new">Code Source moteur
                    Reco-co</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
