{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
<div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
    <h3 class="fr-footer__top-cat">Ressources</h3>
    <ul class="fr-footer__top-list">
        <li>
            <a href="{% url 'statistics' %}" class="fr-footer__top-link">Statistiques d'impact</a>
        </li>
        <li>
            <a href="{% slugurl 'budget' %}" class="fr-footer__top-link">Budget</a>
        </li>
        {% for menuitem in current_site.root_page.get_children.live.in_menu %}
            <li>
                <a href="{% pageurl menuitem %}" class="fr-footer__top-link">{{ menuitem.title }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="https://drive.google.com/file/d/1Zd5sJZ_y1Hjj9H1H0JLuBymApgb2hjRn/view"
               target="_blank"
               class="fr-footer__top-link">
               Plaquette de présentation
               <span class="sr-only">Nouvelle fenêtre</span>
           </a>
        </li>
    </ul>
</div>
