<div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
    <h3 class="fr-footer__top-cat">{{ request.site.name }}</h3>
    <ul class="fr-footer__top-list">
        <li>
            <a href="{% url 'home-contact' %}" class="fr-footer__top-link">Nous contacter</a>
        </li>
        <li>
            <a href="https://urbanvitaliz.fr/p/qui-sommes-nous/"
               class="fr-footer__top-link">Qui sommes-nous ?</a>
        </li>
        <li>
            <a href="https://betagouv.github.io/urbanvitaliz/recrutement/"
               class="fr-footer__top-link"
               target="_blank">
               Recrutement
               <span class="visually-hidden">Nouvelle fenêtre</span>
           </a>
        </li>
    </ul>
</div>
