{% load static %}
<footer class="col-11 py-5">
    <hr />
    <div class="row py-5">

        <div class="col-6">
            <img src="{% static 'home/img/home/logo_rf.png' %}" width="150px" alt="Logo république française">
        </div>
        <div class="col-6 col-md">
            <h5>SOS Ponts</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="{% url 'whoweare' %}">Qui sommes-nous ?</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'home-contact' %}">Nous contacter</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% static 'sosponts.recoconseil.fr/home/img/home/Cerema_SOS_Ponts.jpg' %}" target="_new">Plaquette de présentation</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>SOS Ponts</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary" href="https://sosponts.recoconseil.fr/mentions-legales" target="_new">Mentions légales</a>
                </li>
                <li>
                    <a class="link-secondary" href="https://sosponts.recoconseil.fr/confidentialite" target="_new">Politique de confidentialité</a>
                </li>
                <li>
                    <a class="link-secondary" href="https://sosponts.recoconseil.fr/conditions-generales-utilisation" target="_new">Conditions d'utilisons</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Logiciel Libre</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a href="https://github.com/betagouv/urbanvitaliz-django" target="_new">Code Source moteur UrbanVitaliz</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
