
.actu {
  &__title {
    font-size: 16px !important;
  }
  &__content {
    font-size: 14px !important;
    margin-bottom: 0px !important;
  }

  &__h6 {
    margin-bottom: 0px !important;
  }
  &__link {
    color: white !important;
  }
}

.specific-width-45 {
  width: 45%;
}

.center-verticaly {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
