
.actu {
  &__title {
    font-size: 16px !important;
  }
  &__content {
    font-size: 14px !important;
    margin-bottom: 0px !important;
  }

  &__h6 {
    margin-bottom: 0px !important;
  }
  &__link {
    color: white !important;
  }
}

.specific-width-45 {
  width: 45%;
}

.center-verticaly {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  background-color: #000;
}

.video-preloader {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;
  color: #fff;
}

.video-iframe {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  border: 0;
}