.custom-background-home-image {
  background-image: url('../../img/home/home-background-urbanvitaliz.png') !important;
}
.specific-backgroundcolor-1b1b35 {
  background-color: #1b1b35 !important;
}

.specific-maxwidth-160px {
  max-width: 160px;
}

.actu {
  &__title {
    font-size: 16px !important;
  }
  &__content {
    font-size: 14px !important;
    margin-bottom: 0px !important;
  }

  &__h6 {
    margin-bottom: 0px !important;
  }
  &__link {
    color: white !important;
  }
}

.specific-width-45 {
  width: 45%;
}

.row > * {
  padding: 0px !important;
}

.center-verticaly {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
