
.specific-height-300px {
  height: 300px;
}

.specific-bt-1solide3e3e3 {
  border-top: 1px solid #3e3e3e;
}

.specific-bb-1solide3e3e3 {
  border-bottom: 1px solid #3e3e3e;
}

.specific-bordercolor-e5e5e5 {
  border-color: #e5e5e5 !important;
}

.specific-borderwidth-1px {
  border-width: 1px !important;
}

.specific-cursor-pointer {
  cursor: pointer;
}
