{% load static %}
<div class="hero-div-not-logged">
    <div class="hero-div__sub-container">
        <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/Photo_concours_nature.jpg' %}"
                class="hero-artemi__img"
                width="1280"
                height="720"
                alt="" />
    </div>
</div>
<div class="fr-mx-0 hero-div__dark-section fr-background-alt--grey">
    <h2>Plateforme ARTEMI</h2>
    <div class="fr-mt-2v">
        <p class="fr-text--lg fr-mb-0 fw-light">
            Des ressources et des pas-à-pas de bonnes pratiques pour les référents transition
            écologique du ministère de l’Intérieur.
        </p>
        <div class="fr-mt-4w">
            <a href="{% url 'home-contact' %}" class="fr-btn">Contactez-nous pour en savoir plus</a>
        </div>
    </div>
</div>
<div class="fr-background-alt--blue-france fr-py-4w">
    <div class="fr-container fr-pt-2w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12 fr-col-sm-3 text-center">
                <span class="fr-icon-leaf-line hero-artemi__block-icon" aria-hidden="true"></span>
            </div>
            <div class="fr-col-12 fr-col-sm-9 fr-text--lg">
                <h3>Vous êtes référent(e) transition écologique au sein du ministère de l’Intérieur ?</h3>
                <p class="fr-my-2w">
                    <a href="{% url 'home-contact' %}" class="fr-link">Demandez vos accès</a> à la plateforme afin de :
                </p>
                <ul>
                    <li>
                        Découvrir des fiches ressources pour vous accompagner dans vos initiatives de
                        transition écologique
                    </li>
                    <li>Déclarer et valoriser les actions menées sur votre périmètre</li>
                </ul>
            </div>
        </div>
    </div>
</div>
