<!-- prettier-ignore -->
{% extends "base.html" %}
{% load django_vite %}
{% load sass_tags %}
{% load static %}
{% block title %}
    Plateforme ARTEMI
{% endblock title %}
{% block og_title %}
    Plateforme ARTEMI
{% endblock og_title %}
{% block js %}
    {% vite_asset 'js/apps/home.js' %}
    {% vite_asset 'js/styles/home.css.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'plateforme-artemi.recoconseil.fr/home/css/home/home-artemi.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
{% block content %}
    <div class="hero-div">
        <div class="hero-div__sub-container">
            {% if user.is_authenticated %}
                <figure class="hero-artemi__figure fr-m-0" role="group">
                    <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/Photo_de_groupe_referents_TE.jpg' %}"
                         class="hero-artemi__img fr-mt-4w"
                         width="1280"
                         height="625"
                         alt="" />
                    <figcaption class="hero-artemi__caption fr-text--sm fr-mt-1w fr-mb-0">
                        Rencontres Nationales 2026 des référents transition écologique du ministère de l’Intérieur
                    </figcaption>
                </figure>
            {% else %}
                <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/Photo_concours_nature.jpg' %}"
                     class="hero-artemi__img"
                     width="1280"
                     height="720"
                     alt="" />
            {% endif %}
        </div>
    </div>
    <div class="fr-mx-0 hero-div__dark-section fr-background-alt--grey">
        <h2>Plateforme ARTEMI</h2>
        <div class="fr-mt-2v">
            {% if user.is_authenticated %}
                <p class="fr-text--lg fr-mb-0 fw-light">
                    Envie de mettre en place des initiatives au sein de votre périmètre ?
                    Cette plateforme est là pour vous accompagner dans le passage à l’action
                    en faveur de la transition écologique.
                </p>
            {% else %}
                <p class="fr-text--lg fr-mb-0 fw-light">
                    Des ressources et des pas-à-pas de bonnes pratiques pour les référents transition
                    écologique du ministère de l’Intérieur.
                </p>
                <div class="fr-mt-4w">
                    <a href="{% url 'home-contact' %}" class="fr-btn">Contactez-nous pour en savoir plus</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="fr-py-6w specific-backgroundcolor-1b1b35">
            <div class="fr-container fr-pt-2w fr-pb-6w">
                <div class="fr-m-auto">
                    <h3 class="fr-text-inverted--grey text-center fr-pb-6w">Comment fonctionne la plateforme ARTEMI ?</h3>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px">
                                <img src="{% static 'home/img/home/search.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="" />
                            </div>
                            <h4 class="imiteH6">Découvrez les ressources</h4>
                            <p>
                                Explorez les fiches ressources et leurs pas-à-pas pour passer facilement de
                                l’idée à la mise en œuvre opérationnelle.
                            </p>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px">
                                <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/megaphone.png' %}"
                                     class="fr-p-3v"
                                     width="100%"
                                     height="100%"
                                     alt="" />
                            </div>
                            <h4 class="imiteH6">Valorisez vos actions</h4>
                            <p>
                                Déclarez les actions menées au sein de votre périmètre et faites connaître les
                                initiatives mises en place.
                            </p>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px">
                                <img src="{% static 'home/img/home/community.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="" />
                            </div>
                            <h4 class="imiteH6">Échangez avec la MMDD</h4>
                            <p>Discutez, demandez conseils aux membres de la MMDD selon vos besoins.</p>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                        <div class="fr-p-2w fr-background-default--grey h-100">
                            <div class="w-100 fr-p-2w fr-m-auto specific-maxwidth-160px">
                                <img src="{% static 'home/img/home/human_cooperation.png' %}"
                                     width="100%"
                                     height="100%"
                                     alt="" />
                            </div>
                            <h4 class="imiteH6">Inspirez-vous de vos pairs</h4>
                            <p>
                                Découvrez les réalisations des autres sites, partagez les bonnes pratiques et
                                inspirez-vous de ces initiatives.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-py-8w mmdd-section">
            <div class="fr-container">
                <p class="fr-text--lg fw-light fr-mb-0">
                    Sous l’autorité du haut fonctionnaire au développement durable (HFDD) et du HFDD adjoint,
                    la mission ministérielle développement durable pilote la politique développement durable
                    du ministère en lien étroit avec les directions générales de la police nationale, de la
                    gendarmerie nationale, de la sécurité civile et de la gestion des crises, et la direction
                    de la modernisation et de l’action territoriale.
                </p>
                <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/VF_photo_d_equipe_MMDD.jpg' %}"
                     class="mmdd-section__img fr-mt-4w"
                     width="670"
                     height="255"
                     alt="" />
            </div>
        </div>
        <div class="fr-background-alt--grey fr-py-8w dedicated-pages-section">
            <div class="fr-container">
                <h3 class="fr-pb-4v">Nos autres ressources pour vous accompagner en tant que référents T.E</h3>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
                        <div class="fr-background-default--grey fr-border-default--grey fr-p-2w dedicated-page-card">
                            <a href="https://resana.numerique.gouv.fr/public/perimetre/consulter/1408141"
                               target="_blank">
                                <div class="dedicated-page-card__img-wrapper fr-mb-2w">
                                    <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/Vignette1-ressources.jpg' %}" alt="" />
                                </div>
                                <h4 class="fr-mb-1v imiteH6">
                                    Consultez les documents-cadres en tant que référent(e) transition écologique
                                </h4>
                                <p class="fr-text--sm fr-mb-1v">
                                    RESANA est votre espace dédié aux ressources, aux informations et aux dates clés
                                    du réseau des référent(e)s T.E. Cet espace est régulièrement actualisé afin de
                                    vous permettre d’accéder aux dernières informations utiles.
                                </p>
                                <p class="fr-text--sm fr-mb-1v">
                                    <strong>Découvrez les dernières informations ici</strong>
                                    <span class="fr-icon-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                                </p>
                                <span class="visually-hidden">Nouvelle fenêtre</span>
                            </a>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
                        <div class="fr-background-default--grey fr-border-default--grey fr-p-2w dedicated-page-card">
                            <a href="https://resana.numerique.gouv.fr/public/perimetre/consulter/1408141?openGed=8897087"
                               target="_blank">
                                <div class="dedicated-page-card__img-wrapper fr-mb-2w">
                                    <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/Vignette2-ressources.jpg' %}" alt="" />
                                </div>
                                <h4 class="fr-mb-1v imiteH6">
                                    Découvrez des guides thématiques pour vous accompagner au quotidien
                                </h4>
                                <p class="fr-text--sm fr-mb-1v">
                                    La MMDD met à votre disposition plusieurs guides thématiques pour vous accompagner
                                    concrètement dans les évènements au quotidien. Que vous souhaitiez enrichir vos
                                    initiatives ou trouver des idées pratiques pour passer à l’action, vous y trouverez
                                    des contenus adaptés à vos besoins.
                                </p>
                                <p class="fr-text--sm fr-mb-1v">
                                    <strong>Consultez les guides ici</strong>
                                    <span class="fr-icon-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                                </p>
                                <span class="visually-hidden">Nouvelle fenêtre</span>
                            </a>
                        </div>
                    </div>
                    <div class="fr-col-12 fr-col-sm-6 fr-col-md-4">
                        <div class="fr-background-default--grey fr-border-default--grey fr-p-2w dedicated-page-card">
                            <a href="https://resana.numerique.gouv.fr/public/perimetre/consulter/1408141?openGed=8332161"
                               target="_blank">
                                <div class="dedicated-page-card__img-wrapper fr-mb-2w">
                                    <img src="{% static 'plateforme-artemi.recoconseil.fr/home/img/home/vignette3-ressources.jpg' %}" alt="" />
                                </div>
                                <h4 class="fr-mb-1v imiteH6">Découvrez les différents fonds disponibles</h4>
                                <p class="fr-text--sm fr-mb-1v">
                                    Pour vous accompagner dans la mise en œuvre de vos projets, plusieurs fonds et
                                    accompagnements sont disponibles. Selon la nature de votre projet, vous pouvez en
                                    bénéficier.
                                </p>
                                <p class="fr-text--sm fr-mb-1v">
                                    <strong>Découvrez les différents dispositifs, leurs modalités et les projets éligibles</strong>
                                    <span class="fr-icon-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                                </p>
                                <span class="visually-hidden">Nouvelle fenêtre</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="fr-background-alt--blue-france fr-py-4w">
        <div class="fr-container fr-pt-2w">
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                <div class="fr-col-12 fr-col-sm-3 text-center">
                    <span class="fr-icon-leaf-line hero-artemi__block-icon" aria-hidden="true"></span>
                </div>
                <div class="fr-col-12 fr-col-sm-9 fr-text--lg">
                    <h3>Vous êtes référent(e) transition écologique au sein du ministère de l’Intérieur ?</h3>
                    <p class="fr-my-2w">
                        {% if user.is_authenticated %}
                            Utilisez la plateforme afin de :
                        {% else %}
                            <a href="{% url 'home-contact' %}" class="fr-link">Demandez vos accès</a> à la plateforme afin de :
                        {% endif %}
                    </p>
                    <ul>
                        <li>
                            Découvrir des fiches ressources pour vous accompagner dans vos initiatives de
                            transition écologique
                        </li>
                        <li>Déclarer et valoriser les actions menées sur votre périmètre</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer %}
    <div class="row justify-content-center" id="footer">{% include "footer/footer.html" %}</div>
{% endblock footer %}
