.custom-background-home-image {
  background-image: url('../../img/home/img-home.jpg') !important;
}

.home-images {
  height: 250px;
  width: auto;
  margin: auto;
}

.row>* {
  padding: 0px !important;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
