{% load static %}
<footer class="col-11 py-5">
    <hr />
    <div class="row py-5">

        <div class="col-6">
            <img src="{% static 'home/img/home/logo_rf.png' %}" width="150px" alt="Logo république française">
        </div>
        <div class="col-6 col-md">
            <h5>SOS Mobilités HDF</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <!-- <a class="link-secondary" href="{% url 'whoweare' %}">Qui sommes-nous ?</a> -->
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'home-contact' %}">Nous contacter</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Logiciel Libre</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a href="https://github.com/betagouv/urbanvitaliz-django" target="_new">Code Source moteur Reco-co</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
