{% load static %}
<footer class="col-11 fr-py-6w">
    <hr />
    <div class="row fr-py-6w">
        <div class="col-6">
            <img src="{% static 'home/img/home/logo_rf.png' %}"
                 width="150px"
                 alt="Logo république française" />
        </div>
        <div class="col-6 col-md">
            <h5>SOS Mobilités HDF</h5>
            <ul class="list-unstyled text-small">
                {% comment %}
                <li>
                    <!-- <a class="link-secondary" href="{% url 'whoweare' %}">Qui sommes-nous ?</a> -->
                </li>
                {% endcomment %}
                <li>
                    <a class="link-secondary" href="{% url 'home-contact' %}">Nous contacter</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'accessibility' %}">Accessibilité : non conforme</a>
                </li>
                <li>
                    <a class="link-secondary" href="{% url 'security' %}">Sécurité</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Logiciel Libre</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="link-secondary"
                       href="https://github.com/betagouv/recommandations-collaboratives"
                       target="_new">Code Source moteur Reco-co</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
