{% load static %}
<div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
    <h3 class="fr-footer__top-cat">{{ request.site.name }}</h3>
    <ul class="fr-footer__top-list">
        <li>
            <a class="link-secondary"
               href="{% static 'depannemarenov.beta.gouv.fr/home/Plaquette-DMR.pdf' %}"
               target="_blank">Plaquette de présentation</a>
        </li>
        <li>
            <a href="{% url 'home-contact' %}" class="fr-footer__top-link">Nous contacter</a>
        </li>
    </ul>
</div>
