<!-- Page set in multisite -->
{% extends "base.html" %}
{% load sass_tags %}
{% load static %}
{% block title %}
    {{ request.site.configuration.main_topic }}
{% endblock title %}
{% block og_title %}
    {{ request.site.configuration.main_topic }}
{% endblock og_title %}
{% load django_vite %}
{% block js %}
    {% vite_asset 'js/apps/home.js' %}
{% endblock js %}
{% block css %}
    <link href="{% sass_src 'home/css/dsfr/custom-dsfr.scss' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% sass_src 'home/css/home/home.scss' %}"
          rel="stylesheet"
          type="text/css" />
    <link href="{% sass_src 'corspad.recoconseil.fr/home/css/home/home-corspad.scss' %}"
          rel="stylesheet"
          type="text/css">
{% endblock css %}
{% block content %}
    <div class="hero-div">
        <div class="hero-div__sub-container">
            <div class="d-flex">
                <div class="hero-div__text-part">
                    <h1 class="fr-h1">CORSPAD plateforme d'accélération de projets</h1>
                    <p>{{ request.site.configuration.description }}</p>
                    <div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'onboarding-project' %}"
                               class="fr-btn fr-text--xl"
                               data-test-id="button-need-help">Solliciter {{ request.site.name }}</a>
                        {% else %}
                            <button class="fr-btn fr-text--xl"
                                    data-fr-opened="false"
                                    aria-controls="onboarding-modal">Solliciter {{ request.site.name }}</button>
                        {% endif %}
                    </div>
                </div>
                <div class="w-50 hero-div__img-div">
                    <img src="{% static 'corspad.recoconseil.fr/home/img/home/home-background-corspad.png' %}"
                         width="100%"
                         class="center-cropped img-shadow"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="fr-py-6w fr-mt-4w div-background">
        <div class="fr-container fr-pt-3w fr-pb-6w">
            <div class="fr-m-auto">
                <h3 class="fr-text-inverted--grey text-center fr-pb-6w">Comment fonctionne {{ request.site.name }} ?</h3>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                    <div class="fr-p-3w fr-background-default--grey h-100">
                        <div class="w-100 fr-p-3w fr-m-auto specific-maxwidth-160">
                            <img src="{% static 'home/img/home/search.png' %}"
                                 width="100%"
                                 height="100%"
                                 alt="Icone de recherche">
                        </div>
                        <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-3w d-block">1</span>
                        <h4 class="imiteH6">Les porteurs décrivent leur projet et ses besoins</h4>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                    <div class="fr-p-3w fr-background-default--grey h-100">
                        <div class="w-100 fr-p-3w fr-m-auto specific-maxwidth-160">
                            <img src="{% static 'home/img/home/form.png' %}"
                                 width="100%"
                                 height="100%"
                                 alt="Icone d'un fichier">
                        </div>
                        <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-3w d-block">2</span>
                        <h4 class="imiteH6">Les conseillers compétents la guident à chaque étape</h4>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                    <div class="fr-p-3w fr-background-default--grey h-100">
                        <div class="w-100 fr-p-3w fr-m-auto specific-maxwidth-160">
                            <img src="{% static 'home/img/home/community.png' %}"
                                 width="100%"
                                 height="100%"
                                 alt="Icone de communauté">
                        </div>
                        <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-3w d-block">3</span>
                        <h4 class="imiteH6">Les porteurs font avancer leur projet</h4>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-sm-6 fr-col-md-3">
                    <div class="fr-p-3w fr-background-default--grey h-100">
                        <div class="w-100 fr-p-3w fr-m-auto specific-maxwidth-160">
                            <img src="{% static 'home/img/home/progress.png' %}"
                                 width="100%"
                                 height="100%"
                                 alt="Icone de progrès">
                        </div>
                        <span class="fr-display--xl fr-text-label--blue-cumulus fr-mb-3w d-block">4</span>
                        <h4 class="imiteH6">Tous alimentent l’évolution du projet et des besoins</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container d-flex">
        <div class="fr-mb-4w fr-grid-row fr-grid-row--middle justify-content-center fr-m-auto">
            <div class="fr-col-5 fr-col-sm-4 fr-col-md-3 fr-px-6w fr-p-md-2w">
                <img src="{% static 'corspad.recoconseil.fr/home/img/home/logo-agri-corse.png' %}"
                     width="100%"
                     alt="Logo de la chambre de l'agriculture corse" />
            </div>
            <div class="fr-col-5 fr-col-sm-4 fr-col-md-3 fr-p-6w fr-p-md-4w">
                <img src="{% static 'corspad.recoconseil.fr/home/img/home/logo-chambre-des-commerces.png' %}"
                     width="100%"
                     alt="Logo de la chambre des commerces" />
            </div>
            <div class="fr-col-5 fr-col-sm-4 fr-col-md-3 fr-p-6w fr-p-md-6w">
                <img src="{% static 'corspad.recoconseil.fr/home/img/home/logo-fr-travail.png' %}"
                     width="100%"
                     alt="Logo de france travail" />
            </div>
            <div class="fr-col-5 fr-col-sm-4 fr-col-md-3 fr-p-6w fr-p-md-4w">
                <img src="{% static 'corspad.recoconseil.fr/home/img/home/logo-metiers-artisanat-corse.png' %}"
                     width="100%"
                     alt="Logo de la chambre des métiers et de l'artisanat corse" />
            </div>
        </div>
    </div>
    <div class="border-bottom"></div>
    {% include "home/onboarding/onboarding-modal.html" with form=onboarding_modal_form %}
{% endblock content %}
