
.custom-depannemarenov-banner {
  background-image: url('../../img/home/home-background-depannemarenov.jpg') !important;
}

.text-center-white {
  color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
}



.specific-height-45prct {
  height: 45%;
}

.specific-width-40prct {
  width: 40%;
}

.specific-height-600px {
  height: 600px;
}

.row>* {
  padding: 0px !important;
}