{% load gravatar %}
{% load static %}
{% load sass_tags %}
{% block css %}
    <link href="{% sass_src 'urbanvitaliz.fr/home/css/home/whoweare/content.scss' %}"
          rel="stylesheet"
          type="text/css" />
{% endblock css %}
<div class="col-8 py-3 g-0 mx-auto">
    <h2>Qui sommes-nous ?</h2>
    <p>
        UrbanVitaliz est un service porté par le Cerema, la Direction générale de l’aménagement, du logement et de la nature (DGALN), l’Agence nationale de la cohésion des territoires (ANCT) et l'Etablissement Public Foncier du Nord-Pas-de-Calais, en partenariat avec beta.gouv.fr (Direction interministérielle du numérique).
    </p>
    <p>
        UrbanVitaliz est un service public gratuit d'appui aux collectivités en déficit d’ingénierie pour la reconversion des friches, en lien avec les objectifs de sobriété foncière du gouvernement.
    </p>
    <p>
        Des acteurs locaux (DDT(M), EPF…) peuvent demander l’accès aux dossiers de leur territoire et interagir avec les collectivités et les urbanistes d’UrbanVitaliz, afin de co-aiguiller les dossiers.
    </p>
    <p>
        L'équipe est composée d'une agente du Cerema, d'une coach en méthodologie de création de services centrés usagers, d'urbanistes/chargées de déploiement et de développeurs/UX designers.
    </p>
    <h3>La méthodologie</h3>
    <p>
        L'équipe agit en adoptant une méthode itérative de design de service sans cahier des charges, uniquement orientée par les retours utilisateurs : nous nous inspirons de la méthodologie "agile" pour créer des services publics gratuits ! Plus d’informations sur <a href="https://beta.gouv.fr/" target="_blank">https://beta.gouv.fr/</a>, programme de la Direction interministérielle du numérique (DINUM).
    </p>
    <p>
        Plus de détails sur les enjeux d'UrbanVitaliz <a href="https://beta.gouv.fr/startups/urbanvitaliz.html" target="_new">ici</a>.
    </p>
    <p>
        <strong>Pour nous contacter : via le <a href="{% url 'home-contact' %}">formulaire de contact</a> ou friches@beta.gouv.fr</strong>
    </p>
    <div class="row row-cols-1 row-cols-sm-4 row-cols-md-6 g-2">
        <!-- Guillaume -->
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'guillaume.libersat@beta.gouv.fr' 160 %}"
                     alt="Guillaume Libersat"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Guillaume,
                        <br />
                        <em>Développeur</em>
                    </p>
                </div>
            </div>
        </div>
        <!-- Raph -->
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'raphael.marvie@beta.gouv.fr' 160 %}"
                     alt="Raphael Marvie"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Raphael,
                        <br />
                        <em>Développeur</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'anouk.jeanneau@beta.gouv.fr' 160 %}"
                     alt="Anouk Jeanneau"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Anouk,
                        <br />
                        <em>Urbaniste</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'salome.deschenes@beta.gouv.fr' 160 %}"
                     alt="Salomé Deschênes"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Salomé,
                        <br />
                        <em>Urbaniste</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'perrine.rutkowski@cerema.fr' 160 %}"
                     alt="Perrine Rutkwnski"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Perrine,
                        <br />
                        <em>Intrapreneuse</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'sabine.safi@gmail.com' 160 %}"
                     alt="Sabine Safi"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Sabine,
                        <br />
                        <em>Coach</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'rahman.kalfane@beta.gouv.fr' 160 %}"
                     alt="Rahman Kalfane"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Rahman,
                        <br />
                        <em>UX designer</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'jeremy.bojko@beta.gouv.fr' 160 %}"
                     alt="Jérémy Bojko"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Jérémy,
                        <br />
                        <em>Frontend dev</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'amelie.quillet@beta.gouv.fr' 160 %}"
                     alt="Amélie Quillet"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Amélie,
                        <br />
                        <em>Déploiement</em>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card specific-width-160px">
                <img src="{% gravatar_url 'sebastien.reuiller@beta.gouv.fr' 160 %}"
                     alt="Sébastien Reuiller"
                     class="card-img-top">
                <div class="card-body">
                    <p class="card-text text-center">
                        Sébastien,
                        <br />
                        <em>Backend dev</em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
