.theme {
  &-icon {
    &__size {
      width: 2rem;
    }
  }
  p {
    padding-left: calc(var(--bs-gutter-x) * 0.5 + 2.3rem);
  }
}

.specific-backgroundcolor-04466c {
  background-color: #04466c;
}

.leaflet-container#friches {
  height: auto;
}
